# --- Temporary & Build Files ---
tmp
dummy
node_modules
__pycache__
*.pyc
.DS_Store

# --- Engine Server Paths ---
server/upload_dir/
server/MMVC_Client_v13/
server/MMVC_Client_v15/
server/so-vits-svc-40/
server/so-vits-svc-40v2/
server/DDSP-SVC/
server/RVC/
server/keys
server/info
server/in.wav
server/out.wav
server/G_*.pth
server/train_config.json
server/stored_setting.json

# --- Test Environments ---
server/v13
server/model_hubert
server/model_so-vits-svc-40v2_tsukuyomi/
server/model_so-vits-svc-40/
model_DDSP-SVC/
server/model_sovits
server/test 

# --- Client & Web Assets ---
client/lib/dist
client/lib/worklet/dist
client/demo/public/models
client/demo/public/models_
client/demo/dist/models
client/demo/dist_web
client/demo/src/001_provider/backup

# --- Pretrained Weights & Assets ---
docker/cudnn/
server/pretrain/
server/weights/
server/model_dir/
server/models/
server/samples.json
start_trainer.sh

# --- Python Virtual Environments ---
venv/
hrvc_env/
.conda/
.env

# --- Native Artifacts ---
beatrice_internal_api.cp310-win_amd64.pyd
*.bin

# --- Research Model Sources (Heavy Weights) ---
# We ignore these to prevent accidental pushes to Git
model_source/
model_source/**

# --- Local Logs & Settings ---
*.log
vcclient.log
stored_setting.json
last_devices.json

# --- IDE Configs ---
.github/
.vscode/
.idea/
